name: Server CI

on:
  push:
    branches: "**"
    paths:
      - 'server/**'
      - '.github/workflows/server-ci.yml'

env:
  DOCKER_ENV_FILE: "../.github/workflows/server.env"

defaults:
  run:
    working-directory: server

permissions:
  security-events: write
  actions: write
  contents: read
  packages: write

jobs:
  build-test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17.4-alpine
        env:
          POSTGRES_DB: "development"
          POSTGRES_USER: "dbuser"
          POSTGRES_PASSWORD: "dbpass"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      integresql:
        image: ghcr.io/allaboutapps/integresql:v1.1.0
        env:
          PGHOST: "postgres"
          PGUSER: "dbuser"
          PGPASSWORD: "dbpass"
      mailhog:
        image: mailhog/mailhog
    steps:
      - uses: actions/checkout@v4
      - name: docker build (target builder)
        run: DOCKER_BUILDKIT=1 docker build --target builder --file Dockerfile --tag allaboutapps.dev/aw/go-starter:builder-${GITHUB_SHA} .
      - name: docker build (target app)
        run: DOCKER_BUILDKIT=1 docker build --target app --file Dockerfile --tag allaboutapps.dev/aw/go-starter:app-${GITHUB_SHA} .
      - name: trivy scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'allaboutapps.dev/aw/go-starter:app-${{ github.sha }}'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
      - name: docker run (target builder)
        run: docker run -d --env-file $DOCKER_ENV_FILE --network "${{ job.services.postgres.network }}" --name=builder -it allaboutapps.dev/aw/go-starter:builder-${GITHUB_SHA}
      - name: "build & diff"
        run: |
          docker exec builder make tidy
          docker exec builder make build
          docker cp builder:/app ./post-build && rm -rf ./post-build/.git && git -C post-build diff --exit-code
      - name: test
        run: docker exec builder make test
      - name: upload coverage to codecov
        run: docker cp builder:/tmp/coverage.out ./coverage.out && bash <(curl -s https://codecov.io/bash)
      - name: info
        run: docker exec builder make info
      - name: "binary: deps"
        run: docker exec builder bash -c 'make get-embedded-modules-count && make get-embedded-modules'
      - name: "binary: licenses"
        run: docker exec builder make get-licenses
      - name: docker run (target app)
        run: |
          docker run --env-file $DOCKER_ENV_FILE --network "${{ job.services.postgres.network }}" allaboutapps.dev/aw/go-starter:app-${GITHUB_SHA} help
          docker run --env-file $DOCKER_ENV_FILE --network "${{ job.services.postgres.network }}" allaboutapps.dev/aw/go-starter:app-${GITHUB_SHA} -v
          docker run --env-file $DOCKER_ENV_FILE --network "${{ job.services.postgres.network }}" allaboutapps.dev/aw/go-starter:app-${GITHUB_SHA} env
      - name: upload trivy scan results to GitHub security tab
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }} 
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'server/trivy-results.sarif'
      - name: stop container
        if: ${{ always() }}
        run: docker stop builder
      - name: remove container
        if: ${{ always() }}
        run: docker rm builder
      - name: Docker meta
        id: meta
        if: github.event_name != 'pull_request'
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/server
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=raw,value=latest,enable={{is_default_branch}}
      - name: Set up QEMU
        if: github.event_name != 'pull_request'
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        if: github.event_name != 'pull_request'
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v5
        with:
          context: server
          target: app
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  swagger-codegen-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: run the main swagger.yml validation
        run: |
          docker run --rm -v ${{ github.workspace }}/server:/local swaggerapi/swagger-codegen-cli validate -i /local/api/swagger.yml
